<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LTHSKFinal_QLBV.Properties.Settings.LTHSKFinalDbConnectionString"
            connectionString="Data Source=DESKTOP-RE9N901;Initial Catalog=LTHSKFinalDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>